@{
    ViewData["Title"] = "Sales Report";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    var chartData = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ChartData));
</script>

@model CodeChallenge.Models.HomeViewModel
<div class="container">
    <div class="horizontal-div">
        <div class="horizontal-div">
            <span>Category:</span>
            @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.Categories), "Select Category", new { @class = "form-control", @id = "categoryDropdown" })
        </div>
        <div class="horizontal-div">
            <span>Product:</span>
            @Html.DropDownListFor(model => model.SelectedProduct, new SelectList(Model.Products), "Select Product", new { @class = "form-control", @id = "productDropdown" })
        </div>
        <div class="horizontal-div">
            <span>Brand:</span>
            @Html.DropDownListFor(model => model.SelectedBrand, new SelectList(Model.Brands), "Select Brand", new { @class = "form-control", @id = "brandDropdown" })
        </div>
        </div>
        <div>
            <span id="spanFilters"></span>
        </div>
        <div>
            <canvas id="barChart" width="400" height="200"></canvas>
        </div>
    </div>